# General
.idea
local_test
.DS_Store
.env
.envrc
# Python specific
data/.venv
__pycache__
*.py[cod]
.mypy_cache
# JS specific
app/node_modules
app/*.tsbuildinfo
# Golang specific
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# Go workspace file
go.work