version: '3.8'

services:
  db-loader:
    image: db-loader
    container_name: db-loader
    build: ./data
    environment:
      DATABASE_URL: "postgres://test:test@db:35434/lookout?sslmode=disable"
    depends_on:
      - db-test
    volumes:
      - ./data:/app

  db-test:
    image: postgis/postgis:14-master
    container_name: lookout-db-test
    ports:
      - '35434:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=lookout
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test

volumes:
  db_data:
