version: "3.8"

services:
  dataops:
    build: ./dataops
    depends_on:
      - db
    volumes:
      - ./dataops:/app
      - ${TEST_DATA}:/data
      - ./dataops/dbt/profiles/dev.yml:/home/appuser/.dbt/profiles.yml
    env_file:
      - ./dataops/.env

  db:
    image: postgis/postgis:14-master
    container_name: lookout-db
    ports:
      - "27901:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=lookout
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test

volumes:
  db_data:
