@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
	$primary: #0d5c63,
	$secondary: #44a1a0,
	$surface: #fff,
	$background: #fff,
	$error: #d5370b
);

html,
body {
	background-color: theme.$surface;
	color: theme.$on-surface;
	margin: 0;
}

a {
	color: #40b3ff;
}
a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}
